.images {
    margin-left: 2%;
    margin-right: 2%;
}

.image {
    margin-left: auto;
    margin-right: auto;
}

.sollbl {
    font-weight: bold
}

.cameralbl {
    font-style: italic;
}

.message {
    color: white;
}

body {
    background-color: #B0B0B0 !important;
}
