.images {
    max-width: 100%;
}

.image {
    margin-left: auto;
    margin-right: auto;
}

.sollbl {
    font-weight: bold
}

.cameralbl {
    font-style: italic;
}

.message {
    color: #606060;
}

.button {
    opacity: 0.1 !important;
}

body {
    background-color: #0c0c0c !important;
}

.close {
    width: 64px;
    height: 64px;
    position: fixed;
    right: 2px;
    z-index: 9999;
    background: url('http://s3-us-west-2.amazonaws.com/curiosity-maps-assets/icons/closebutton.png') no-repeat;
    cursor: pointer;
    display: none;
    opacity: 0.5;
}
