.images {
    max-width: 100%;
}

.image {
    margin-left: auto;
    margin-right: auto;
}

.sollbl {
    font-weight: bold
}

.cameralbl {
    font-style: italic;
}

.message {
    color: #606060;
}

.button {
    opacity: 0.1 !important;
}

body {
    background-color: #0c0c0c !important;
}
