.message {
    color: #606060;
    font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;
}

.image {
  padding: 10px;
}

body {
    background-color: #0c0c0c !important;
}
