<!doctype html>
<html>
    <head>
    <title>About Curiosity Maps</title>
    <link rel="stylesheet" type="text/css" href="/styles/about.css"/>
    </head>

    <body>

    <div class="message">
        <p>Welcome to curiosity-maps!<p>
        <p>This website illustrates the journey that the Curiosity rover has experienced on Mars. Markers indicate high-resolution images are available for the selected camera. Click on a marker to see a slide show of all high-resolution images for that camera and Martian day.</p>
    </div>

    <center>
    <img class="image" src="http://mars.nasa.gov/msl/images/pia16239_c-br2.jpg"/>
    </center>

    <div class="message" style="font-size: 14px !important;">
        Location and image data courtesy NASA/JPL-Caltech. For more information, see the <a href="http://www.jpl.nasa.gov/imagepolicy/">JPL Image Use Policy</a> and the <a href="http://data.nasa.gov/about/">Open NASA Project</a>.
    </div>

    </body>
</html>
