<!doctype html>
<html>
    <head>
    <title>Curiosity image view</title>
    <link rel="stylesheet" type="text/css" href="//s3-us-west-2.amazonaws.com/curiosity-maps/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/images.css"/>
    </head>

    <body>

    <div id="close" class="close"></div>

    <% if images.length > 0  %>
        <img class="snake" src="//s3-us-west-2.amazonaws.com/curiosity-maps-assets/icons/snake.gif"/>
    <% end %>
    
    <div class="images">
    <% images.each do |image| %>
        <div>
            <img class="image" title="<%= image.timestamp.strftime("%m/%d/%Y at %I:%M%p UTC") %>" data-lazy="<%= image.imageUrl %>">
        </div>
    <% end %>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//s3-us-west-2.amazonaws.com/curiosity-maps/slick/slick.min.js"></script>

    <script type="text/javascript">
        // add frame controls if we're in an iframe
        window.addEventListener("message", function(event){
            // TODO: origin check
            if(event.data === "open"){
                console.log("received open");
                document.getElementById("close").style.display = "block";
            }
        }, false);
        $("#close").click(function() {
            window.postMessage("close", "*");
        });
        $(document).keydown(function(e) {
            // close on 'esc' press
            if (e.keyCode == 27) { 
                window.postMessage("close", "*");
            }   
        });

        $(document).ready(function(){
            // initialize carousel
            $('.images').slick({
                arrows: false,
                speed: 300,
                infinite: true,
                slidesToShow: 1,
                touchThreshold: 25,
                lazyLoad: 'ondemand'
            });
        });
    </script>

        <% if images.length > 0  %>
            <div class="message">
            Images taken by Curiosity on sol <span class="sollbl"><%= images[0].sol %></span> using camera <span class="cameralbl"><%= images[0].camera %>.</span>
            </div>
            <div class="message">
            Navigate left and right with click-and-drag or the arrow keys.
            </div>
        <% else %>
        <div class="message">
            No images found for the requested sol and camera.
        </div>
        <% end %>
            

    <div class="message">
        Location and image data courtesy NASA/JPL-Caltech. For more information, see the <a href="http://www.jpl.nasa.gov/imagepolicy/">JPL Image Use Policy</a> and the <a href="http://data.nasa.gov/about/">Open NASA Project</a>.
    </div>
    <div class="message">
        See more on <a href="http://www.github.com/jherwitz">Github</a>. (Soon!)
    </div>



    <style>
    .map-marker-label{
        position: absolute;
    color: blue;
    font-size: 16px;
    font-weight: bold;
    }
    </style>
    </body>
</html>
