<!DOCTYPE html>
<html>
<head>
    <title>Curiosity Maps</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/styles/map.css"/>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript" src="/scripts/map.js"></script>
</head>

<body>
    <div id="map"></div>
    <div id="about" class="about"></div>
    <div id="github" class="github"></div>
    <select onchange="maskMarkers()" id="cameras" class="cameras">
        <option value="FrontHazcam">Front Hazcam</option>
        <option value="RightNavcam">Right Navcam</option>
        <option value="RearHazcam">Rear Hazcam</option>
        <option value="LeftNavcam">Left Navcam</option>
        <option value="Mastcam">Mastcam</option>
    </select>


    <script>
        document.body.onload = function() {
            document.getElementById("about").onclick = function() {
                window.open("/about");
            };
            document.getElementById("github").onclick = function() {
                window.open("//github.com/jherwitz/curiosity-maps");
            };
            initialize(<%= locations.to_json %>, <%= cameraCoverage.to_json %>);
        };
    </script>
</body>
</html>
