% require 'json'

<html>
    <head>
        <title>
            Curiosity location images
        </title>
    </head>

    <body>
        <span>
            <%= json.to_json(images) %>
        </span>
    </body>
</html>
