<html>
    <head>
    <title>Curiosity image view</title>
    <link rel="stylesheet" type="text/css" href="//s3-us-west-2.amazonaws.com/curiosity-maps/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/display.css"/>
    </head>

    <body>

    <center>
    <div class="message">
        <% if images.length > 0  %>
        <p>Images taken by Curiosity on sol <span class="sollbl"><%= images[0].sol %></span> using camera <span class="cameralbl"><%= images[0].camera %></span> Navigate left and right with swipes, the arrow keys, or the arrow buttons.</p>
        
        <% else %>
        <p>No images found for the requested sol and camera.<p>
        <% end %>
    </div>
    </center>

    <div class="images">
    <% images.each do |image| %>
        <div><img class="image" title="<%= image.timestamp %> UTC" data-lazy="<%= image.imageUrl %>" ></div>
    <% end %>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//s3-us-west-2.amazonaws.com/curiosity-maps/slick/slick.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            // initialize carousel
            $('.images').slick({
              speed: 300,
              slidesToShow: 1,
              adaptiveHeight: true,
              lazyLoad: 'ondemand'
          });
        });
    </script>

    <div class="message">
    <div>
        Images courtesy NASA/JPL-Caltech. For more information, see the <a href="http://www.jpl.nasa.gov/imagepolicy/">JPL Image Use Policy</a>.
    </div>
    <div>
        View on <a href="http://www.github.com">Github</a>!
    </div>
</div>


    </body>
</html>
